<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style/GeneralPage/EmailVerify.css') }}">
</head>

<body>
    <!--we need a form fore password username and name. 
        We also need one fore going back to the register
        Brightest: #F9F3ED
    Medium: #ECE1D7 (original color)
    Dimmest: #D6CABD
    #ECE1D7,
    -->
    <!--{{ url_for('static', filename='Style/Chat/GeneralSettings.css') }}    something
-->
 
    <div id="FullPage0Container">
        <div id="FullPage1Container" class="center">
            <div id="FullPage2Container" class="center">
                <div id="FullPage3Container" class="center">

                    <div id="FullLoginPageForm1Container">
                        <div id="FullLoginPageForm2Container">
                            <div id="FullLoginPageForm3Container">
                                <form action="/SaveDataRegister" method="POST">
                                    <div id="FullPasswordFormContainer">
                                        <input type="number" class="input_bar_check change_state_of_input" name="UserCode">
                                        <span class="input_text_register_form change_state_of_text">Email Verification Code</span>
                                    </div>
                                    <div id="FullSubmitFormContainer">
                                        <button type="submit" id="SubmitRegisterFormButton">SUBMIT</button>
                                    </div>
                                </form>
                                <form action="/login" method="post">
                                    <button type="submit">Login?</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='Script/Register/CheckValidCSS.js') }}"></script>
</body>

</html>